{% load static %}

<nav class="navbar navbar-expand-lg bg-black">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center w-100">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}"
             class="img-fluid nav-img"
             alt="Ein Logo"
             title="Dass ist ein Logo mit dem Schriftzug Prinz Studios in Gold" />
      </a>
      <div>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav gap-3">
            <li class="nav-item">
              <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                 aria-current="page"
                 href="{% url 'landing_page' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                 href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                 href="{% url "contact" %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
