{% extends "base.html" %}

{% block content %}
  <div class="container py-5">
    <h2 class="mb-4">Kontaktiere mich</h2>
    {% if messages %}
      {% for message in messages %}<div class="alert alert-success">{{ message }}</div>{% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">{{ form.name }}</div>
      <div class="mb-3">{{ form.email }}</div>
      <div class="mb-3">{{ form.message }}</div>
      <button type="submit" class="btn btn-primary">Senden</button>
    </form>
  </div>
{% endblock content %}
